<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GYMTRACK PRO</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>

    <header>
        <div id="header-container"></div>
    </header>

    <h1>Hola desde ejercicio</h1>


    <footer>
        <div id="footer-container"></div>
    </footer>
</body>

<script src="../js/header.js"></script>
<script src="../js/footer.js"></script>
<script src="../js/diet.js"></script>
    <script src="../js/app.js"></script>
</html>