<header>
  <nav class="navbar">
        <div class="nav-container">
            <!-- Logo -->
            <div class="logo">
                <a href="#">MiLogo</a>
            </div>
            
            <!-- Menú de navegación -->
            <ol class="nav-menu">
                <ul class="nav-item">
                    <a href="#" class="nav-ulnk">Inicio</a>
                </ul>
                <ul class="nav-item">
                    <a href="#" class="nav-ulnk">Ejercicios</a>
                </ul>
                <ul class="nav-item">
                    <a href="#" class="nav-ulnk">Dieta</a>
                </ul>
                <ul class="nav-item">
                    <a href="#" class="nav-ulnk">Peso</a>
                </ul>
                <ul class="nav-item">
                    <a href="#" class="nav-ulnk">Perfil</a>
                </ul>
            </ul>
            
            <!-- Botón hamburguesa (para móviles) -->
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </nav>
</header>